<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/doctor.png">
    <linK rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="scrape.js"></script>
    <title>COVID-19</title>
</head>
<body>
    <section class="showcase">
        <header>
            <h2 id="counter"><%= text %></h2>
        </header>
        <video src="/vid/hospital.mp4" muted loop autoplay></video>

        <div class="overlay"></div>

        <div class="text">
            <h3>Don't End Up Here</h3>
            <h3>Stay Safe!</h3>
            <a href="/tips">Find Out How</a>
        </div>
        <a class="repository" href="https://github.com/roberto-valdez"><img src="/img/github.png"></a>
    </section>
</body>
</html>